/* General */

html, body {
	height: 100%;
}

body > main.container {
	min-height: 100%;
	min-height: -moz-calc(100% - 391px);
	min-height: -webkit-calc(100% - 391px);
	min-height: -o-calc(100% - 391px);
	min-height: calc(100% - 391px);
	background-color: #fff;
}

body {
	background: #211917 url(../../images/secondary-images/wood-back-light.jpeg) repeat center top;
	font-family: "QuattrocentoSans-Regular";
	background-position: 0 80px;
	margin: 0;
}

main {
	max-width: 938px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Oswald";
	word-wrap: break-word;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
}

h1 {
	background: url(../../../Content/images/separator-light.png) repeat-x left bottom;
	padding: 0 0 18px;
}

h5 {
	color: #7b7b7b;
	font-family: "Oswald";
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	text-transform: uppercase;
}

.overlay > h1,
.overlay > h2,
.overlay > h3,
.overlay > h4, 
.overlay > h5,
.overlay > h6 {
	color: #241b18;
	font-weight: normal;
	margin: 0 0 4px;
	text-align: center;
	text-shadow: 1px 1px #fff;
	text-transform: uppercase;
	padding: 0px;
	background: none;
}

.overlay > h1 *,
.overlay > h2 *,
.overlay > h3 *,
.overlay > h4 *,
.overlay > h5 *,
.overlay > h6 * {
	font-family: "QuattrocentoSans-Regular";
	text-shadow: none;
	text-transform: none;
	background-position: 0 80px;
	margin: 0;
	color: #333;
	font-size: .45em;
}

a:visited, a:link, a:active {
	color: #4b3a33;
}

a:hover {
	color: #5b4a43;
}

hr {
	display: inline-block;
	width: 100%;
	height: 7px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0;
}

p[class*="bg-"] {
	padding: 1em;
}

main hr {
	background: url(../../images/separator-light.png) repeat-x left bottom;
}

footer hr {
	background: url(../../images/separator-dark.png) repeat-x left bottom;
}

hr.vertical {
	background: url(../../images/separator-dark-vertical.png) repeat-y left top;
	height: 100%;
	width: 7px;
}

body > main {
	box-shadow: 0px 0px 20px #000;
}

body > main > section {
	background-color: #fff;
}

body > main > section:not(:first-child) {
	border-top: 1px solid #fff;
}

section.row.padding {
	padding: 20px;
}

#estimate-banner {
	width: 200px;
	height: 50px;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

.even.row {
	overflow: hidden; 
}

.even.row > [class*="col-"] {
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}

/* Navbar */

.navbar {
	margin-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}

.navbar-inverse {
	background-color: #241b18;
	border-bottom: 1px solid #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
	color: #ffc947;
}

.navbar-nav {
	font-family: "Oswald";
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.navbar-inverse .navbar-brand,
.navbar-brand, a.navbar-brand,
.navbar-inverse .navbar-brand:hover {
	font-size: 1.8em;
	color: rgb(255, 201, 71);
	font-family: 'Bevan';
	font-weight: normal;
	font-style: normal;
}

/* Footer */

footer {
	color: #241b18;
	border-top: 1px solid #fff;
	background-color: #e2b241;
	padding: 28px 0 14px;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}

footer .footnote {
	color: #ab7d0f;
	font: 11px/24px "Oswald";
	margin: 0;
	text-transform: uppercase;
}

footer ul.navigation {
	float: right;
	display: inline-block;
	line-height: 24px;
	list-style: none;
	margin: 0;
	padding: 0;
}

footer ul.navigation li {
	float: left;
}

footer ul.navigation li:first-child {
	margin-left: 0;
}

footer ul.navigation li {
	float: left;
	margin-left: 15px;
}

footer ul.navigation li a {
	color: #ab7d0f;
	font: 11px/24px "Oswald";
	text-decoration: none;
	text-transform: uppercase;
}

/* Lists */

ul.check-mark {
	list-style: none;
	padding: 0;
}

ul.check-mark li {
	background-image: url(../../images/secondary-images/check.png);
	background-repeat: no-repeat;
	padding-left: 30px;
}

ul.check-mark li:not(:first-child) {
	margin-top: 3px;
}

/* Social Media */

.social {
	display: inline-block;
	height: 33px;
	margin: 0;
	background: url(../../images/icons.png) no-repeat;
	cursor: pointer;
}

.social + .social {
	margin: 0 10px;
}

.social.facebook {
	background-position: -46px -112px;
	width: 33px;
}

.social.googleplus {
	background-position: -46px -153px;
	width: 34px;
}

.social.twitter {
	background-position: -46px -194px;
	width: 40px;
}

.social.facebook:hover {
	background-position: 0 -112px;
}

.social.googleplus:hover {
	background-position: 0 -153px;
}

.social.twitter:hover {
	background-position: 0 -194px;
}

/* Forms */

input, textarea {
	padding: 1px 0.5em 1px 0.5em;
}

input {
	color: #4b3a33;
	height: 35px;
	line-height: 26px;
	width: 100%;
	border: 3px solid #af8112;
	margin: 0 0 6px;
	padding: 0 4px;
}

input[type="submit"], .vc-button {
	font-family: "Oswald";
	background: url(../../images/buttons.png) no-repeat;
	background-position: -13px -39px;
	height: 26px;
	color: #fff;
	width: 83px;
	border: 0;
	padding: 0px 0 2px;
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
}

input[type="submit"]:hover, .vc-button:hover, .vc-button:focus {
	background-position: -127px -39px;
	text-decoration: none;
}

input[type="submit"].light, .vc-button.light {
	background-position: 0 0;
	height: 34px;
	color: #966a01;
	width: 109px;
	font-size: 13px;
}

input[type="submit"].light:hover, .vc-button.light:hover, .vc-button.light:focus {
	background-position: -114px 0;
	text-decoration: none;
}

.vc-button {
	display: inline-block;
	padding: 0.6em;
	text-decoration: none;
}

textarea { 
	color: #626161;
	font-size: 14px;
	height: 158px;
	line-height: 24px;
	border: 3px solid #af8112;
	margin: 0 0 12px;
	width: 100%;
	overflow: auto;
	resize: none;
}

/* Tables */

/* Validation */

.validation-summary-errors {
	background-color: #f2dede;
	padding: 15px;
	margin: 0 0 10px;
}

.validation-summary-errors ul,
.validation-summary-errors ol {
	margin: 0px;
}

/* Images */

img[class*="img-"].side-shadow {
	padding: 5px;
	box-shadow: 12px 2px 30px -15px rgba(0, 0, 0, 0.9), -12px 2px 30px -15px rgba(0, 0, 0, 0.9);
}

img.small-border {
	padding: 1px;
	border-radius: 1px;
}

figure {
	background-color: #E1E1E1;
	padding: 5px;
}

figure figcaption {
	padding: 2.5em;
}

figure.thumbnail {
	border-radius: 0;
	background-color: #4b3a33;
	border: none;
	color: #fff;
	padding: 0;
	margin: 0;
}

figure.thumbnail-dark {
	background-color: #241b18;
}

figure.thumbnail a > img,
figure.thumbnail > img {
	margin-bottom: 0px;
}

figure.thumbnail .caption {
	color: #fff;
	padding: 21px 16px 16px 16px;
	background: url(../../../Content/images/separator-light.png) repeat-x left top;
}

figure.thumbnail > figcaption h1,
figure.thumbnail > figcaption h2,
figure.thumbnail > figcaption h3,
figure.thumbnail > figcaption h4 {
	color: #ffc947;
}

figure.showcase {
	padding: 0;
	margin-bottom: 20px;
	float: left;
	display: inline-block;
	background-color: #DDDAD3;
}

figure.showcase + figure.showcase {
	margin-left: 20px;
}

figure.showcase > img {
	float: left;
}

figure.showcase figcaption {
	padding: 1.5em;
	display: inline-block;
}

figure.showcase figcaption :first-child {
	margin-top: 0px;
}

/* Seperators */

section.row.separator > [class*="col-"]:not(:first-child) {
	padding-left: 25px;
	background: url(../../../Content/images/separator-light-vertical.png) repeat-y left top;
}

section.row.separator-dark > [class*="col-"]:not(:first-child) {
	padding-left: 25px;
	background: url(../../../Content/images/separator-dark-vertical.png) repeat-y left top;
}

/* Well */

.well {
	border-radius: 0px;
	background-color: #E1E1E1;
}

/* Formatting */

.auto-height {
	height: auto;
}

.center {
	text-align: center;
}

.dark {
	color: #333;
}

.overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

input[type="submit"].button-lower-right, .vc-button.button-lower-right {
	position: absolute;
	right: 5%;
	top: 85%;
}

div.back {
	bottom: 0px;
	position: relative;
	margin-top: 15px;
	margin-top: 15px;
}

div.back > a {
	background: url(../../../Content/images/icons.png) no-repeat;
	cursor: pointer;
	float: left;
	background-position: 0 -69px;
	color: #241b18;
	display: inline-block;
	height: 15px;
	padding-left: 24px;
	text-decoration: none;
	text-transform: uppercase;
}

div.back > a:hover,
div.back > a:focus {
	color: #b1861f;
	text-decoration: none;
}

/* Anomations */

.brightness {
	background-color: white;
}

.brightness img {
	opacity: 1.0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.brightness img:hover {
	opacity: 0.8;
}

/* Media Queries */

@media screen and (min-width: 992px) {
	section.row.separator > [class*="col-"]:not(:first-child) {
		padding-left: 25px;
		background: url(../../../Content/images/separator-light-vertical.png) repeat-y left top;
	}

	section.row.separator-dark > [class*="col-"]:not(:first-child) {
		padding-left: 25px;
		background: url(../../../Content/images/separator-dark-vertical.png) repeat-y left top;
	}
}

@media screen and (max-width: 991px) {
	section.row.separator > [class*="col-"]:not(:first-child),
	section.row.separator-dark > [class*="col-"]:not(:first-child) {
		padding-left: 15px;
		background: none;
	}
}

@media screen and (max-width: 768px) {
	figure.showcase + figure.showcase {
		margin-left: 0px;
	}
}