@model List<VisionsConstructionLLC.Database.Entities.Gallery.GalleryCategory>

@foreach (VisionsConstructionLLC.Database.Entities.Gallery.GalleryCategory galleryCategory in Model) { 
	<li><a href="~/Gallery/Category/@galleryCategory.Id">@galleryCategory.Name</a></li>
}