@{
	ViewBag.Title = "About";
	Layout = "~/Views/_Layout.cshtml";
}
<section class="even row padding">
	<div class="col-md-6">
		<div id="main">
			<h1>About</h1>
			<h5>History</h5>
			<p>
				Founded in 2008, we have years of experience in every field required to make your home the have you have always envisioned. 
			</p>
			<h5>Free Estimates and Answers</h5>
			<p>
				<b><i>Don't be afraid just to ask; its free.</i></b> We are always able to find a solutions for any customer's needs and are determined to work within your budget. You'll feel pressured into nothing; it is all up to you. However, we are sure that we would greatly exceed your expectations.
			</p> 
			<h5>[Continued]</h5>
			<p>
				...
			</p>
		</div>
	</div>
	<div class="col-md-6">
		<div class="well center">
			<h5>For Questions or Quotes Please Call</h5>
			<h4>203-947-2678</h4>
			<h5>Or Email Us At</h5>
			<h4>visionsConstructionct@gmail.com</h4>
		</div>
		<div class="well center">
			<h2>Certified Brands</h2>
			<h5>Siding</h5>
			<img src="~/Content/images/certifications/azek_siding.png" />
			<img src="~/Content/images/certifications/mastic_siding.png" />
			<br />
			<h5>Windows</h5>
			<img src="~/Content/images/certifications/andersen_windows.png" alt="Anderson Windows" />
			<img src="~/Content/images/certifications/pella_windows.png" alt="Pella Windows" />
			<br />
			<h5>Cabinetry</h5>
			<img src="~/Content/images/certifications/diamond_cabinets.png" alt="Diamond Cabinets" />
			<img src="~/Content/images/certifications/merillat_cabinets.png" alt="Merillat Cabinets" />
			<br />
			<img src="~/Content/images/certifications/schrock_cabinets.png" alt="Merillat Cabinets" />
		</div>
	</div>
</section>